body{
    background-color: bisque;
    padding: 0%;
    margin: 0%;     
}
header{
    background-color: none;
    width: auto;
    height: auto;
    text-align: center;
    margin-top: auto;
    border: 5px;
    padding: 20px;
    margin: 0px;
    position: absolute;
    margin-left: 40%;
}
h1.a{
    visibility: visible;
    font-size: 50px;
    line-height: normal;
    text-align: center;
}
aside{
    width: 51%;
    height:50%;
    text-align: center;
    float: left;
    position: relative;
}
h2.b{
    visibility: visible;
    font-size: 40px;
    line-height: normal;
    text-align: center;
}
.text{
    text-align: center;
    width:200px;
    height:180px;
    position:relative;
    float:left;
    font-family: 'Architects Daughter', cursive;
    font-size: larger;
    margin-left: 35%;
}
h3.c{
    visibility: visible;
    font-size: 40px;
    line-height: normal;
    text-align: center;
}
section{
    width: 51%;
    height:50%;
    text-align: center;
    float: right;
    position: relative;  
}
footer{
    width: 100%;
    height: 20%;
    text-align: center;
    position: relative;
    float: left;
    background-color: rosybrown;
}
@media only screen and (min-width: 580px) {
footer {
   background-color: lightblue;
}
}
@media only screen and (max-width: 768px) {
footer {
    background-color: red;
    }
    }
@media only screen and (min-width: 1024px) {
footer {
    background-color: orange;
        }
        }    